.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color:#e3f2fd;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #5183ff;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}

h1 {
    text-transform: uppercase;
}

button {
    margin-top: 10px;
	background-color: #5183ff;
    color:#fff;
    border-radius: 3px;
    border-style: none;
    width: 80px;
    height: 30px;
}

.title {
    margin-top: 10px;
}

#text, textarea {
    width: 100%;
}